<!-- <p *ngFor="let pic of picture">
  <img src="../assets/{{pic}}" class="img-fluid" alt="teste{{pic}}">
</p> -->

<div id="carousel" class="carousel slide overlay" data-ride="carousel" data-interval="3000" data-pause="false">
  <div id="carousel1" class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/img_index.png" alt="foto1">
    </div>
    <div class="carousel-item" *ngFor="let pic of picture">
      <img class="d-block w-100" src="../assets/{{pic}}" alt="foto{{pic}}">
    </div>
  </div>
</div>
